@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 20px;
    width: 300px;
    max-height: 480px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header.is-home {
    justify-content: center;
}

.header.is-home .header__logo {
    text-align: center;
}

.header__back {
    font-size: 18px;
    color: black;
    display: flex;
}

.header__back-wrapper {
    margin-right: 10px;
    transition: margin-right .5s ease-in-out;
}

.header__back-wrapper:hover{
    margin-right: 10px;
}

.header.is-home  .header__nav {
    display: none;
}

.header__logo {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.header__title {
    font-size: 20px;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 12px;
    color: #808080;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

img {
    height: 20px;
    width: 20px;
}

.button {
    background-color: #DCDCDC;
    display: inline-block;
    padding: 5px 0;
    width: 100%;
    border-radius: 10px;

    color: black;
    font-size: 19px;
    text-align: center;
    border: 5px solid transparent;

    transition: border-color .5s ease;
}

.button--small {
    font-size: 16px;
    padding: 10px 0;
}

.button:hover {
    border-color: #F6FB00;
}

.page {
    display: none;
}

.page.rendered {
    display: block;
}

.passwords__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passwords__sort-title {
    font-size: 15px;
}

.passwords__sorting {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.passwords__sorting.reverse {
    flex-direction: column-reverse;
}

.passwords__sorting .rect {
    display: block;
    height: 3px;
    width: 10px;
    background-color: #000;
}

.passwords__sorting .rect:nth-child(2) {
    width: 20px;
}

.passwords__sorting .rect:nth-child(3) {
    width: 30px;
}

.passwords__list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow-y: scroll;
    max-height: 300px;
    padding-right: 5px;
}

.passwords__list::-webkit-scrollbar {
    width: 10px;
}

.passwords__list::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.passwords__list::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.biometrics__list {
    display: flex;
    justify-content: space-between;
}

.biometrics__title {
    font-size: 18px;
    text-align: center;
}

.biometrics__name {
    font-size: 20px;
}

.biometrics__list {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.biometrics__preview {
    height: 115px;
    width: 115px;
    background-color: #C4C4C4;
    filter: blur(2px);
    border-radius: 10px;
    margin: 0 auto;

    transition: transform .6s ease;
}

.biometrics__preview:hover {
    transform: scale(1.1);
}

.biometrics__name {
    margin-top: 10px;
    text-align: center;
    color: #000;
    font-size: 14px;
}

.biometrics-face__preview {
    background-color: #BBBBBB;
    width: 190px;
    height: 190px;
    margin: 0 auto;
    filter: blur(2px);
    border-radius: 10px;
}

.biometrics-face__touch {
    margin: 10px auto 20px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: block;
    background-color: #000;
}

.biometrics-finger__title {
    font-size: 18px;
    text-align: center;
}

.biometrics-finger__preview {
    background-color: #C4C4C4;
    border: 1px solid #000;
    filter: blur(2px);
    border-radius: 10px;
    height: 100px;
    width: 100px;

    margin: 20px auto;
}

.generate__functions {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.generate__button {
    width: calc(50% - 10px);
}

.generate__config {
    margin-top: 20px;
}

.generate__group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.generate__label {
    font-size: 15px;
}

.generate__count {
    width: 30px;
    border: none;
    border-bottom: 1px solid #000;
}