@mixin flex-box($gap: null, $dir: null, $v: null, $h: null) {
    display: flex;
    
    @if $gap != null { gap: $gap; }
    @if $dir != null { flex-direction: $dir; }
    @if $h != null { justify-content: $h; }
    @if $v != null { align-items: $v; }
}