@use '../utilities/variables';
@use '../utilities/mixins';

.header {
    @include mixins.flex-box($v: center, $h: space-between);
    margin-bottom: 15px;

    &.is-home {
        justify-content: center;

        .header {
            &__logo {
                text-align: center;
            }

            &__nav {
                display: none;
            }
        }
    }
    
    &__back {
        font-size: 18px;
        color: variables.color('dark-text');
        @include mixins.flex-box();
    
        transition: color .5s ease-in-out;

        &:hover {
            color: variables.color('outline');
        }
    }

    &__wrapper {
        margin-right: 10px;
    }

    &__logo {
        @include mixins.flex-box($dir: column);
        text-align: end;
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 12px;
        color: variables.color('gray');
    }
}