@use '../utilities/mixins';
@use '../utilities/variables';

.biometrics {
    &__list {
        @include mixins.flex-box($h: space-between);
        margin-top: 25px;
    }

    &__title {
        font-size: 18px;
        text-align: center;
    }

    &__name {
        font-size: 20px;
    }

    &__preview {
        height: 115px;
        width: 115px;
        background-color: #C4C4C4;
        filter: blur(2px);
        border-radius: 10px;
        margin: 0 auto;

        transition: transform .6s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
    
    &__name {
        margin-top: 10px;
        text-align: center;
        color: variables.color('dark-text');
        font-size: 14px;
    }
}
