@use '../utilities/mixins';

.list {
    @include mixins.flex-box($dir: column, $gap: 15px);
    margin-top: 15px;

    overflow-y: auto;
    max-height: 300px;
    padding-right: 5px;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: darkgrey;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &__link {
        &--icon {
            position: relative;
        }
    }
}